.row .col{
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
  background:#000;
  padding:2%;
  border-radius: 20px;
  width: 48%;
  box-shadow: 0 6px 30px 0 #28a40c, 0 6px 20px 0 #28a40c;
}
.row h1 {
  text-align: center;
}
